link(rel="import" href="../../webcomponentsjs/webcomponents-lite.min.js")
link(rel="import" href="../../paper-scroll-header-panel/paper-scroll-header-panel.html")
link(rel="import" href="../../paper-toolbar/paper-toolbar.html")
link(rel="import" href="../../polymer-login/release/polymer-login.html")

dom-module(id="yhbt-header")
    template
        paper-scroll-header-panel(horizontal layout)
            paper-toolbar(horizontal layout)
                div    
                    span You Have Been Tasked
                div 
                    polymer-login(login-route="/login" logout-route="/logout" silence="false")
                    
    script(src="./yhbt-header.js")
