link(rel="import" href="../../webcomponentsjs/webcomponents-lite.min.js")
link(rel="import" href="../../paper-scroll-header-panel/paper-scroll-header-panel.html")
link(rel="import" href="../../paper-toolbar/paper-toolbar.html")

dom-module(id="yhbt-header")
    template
        paper-scroll-header-panel.flex
            paper-toolbar
                span YHBT-header
    script(src="./yhbt-header.js")
